<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css"
    />
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/chat.css" />
    <title>Casandalee</title>
  </head>
  <body>
    <div id="main-vertical">
      <div id="root">
        <div id="header">
          <button id="sign-out" hidden="true">Sign Out</button>
          <h1 id="login-title">Casandalee : Ai for PF2E</h1>
        </div>
        <div class="topnav">
          <a href="/">Casandalee: Rules</a>
          <a class="active" href="backgrounds">Backgrounds</a>
          <a href="about">About</a>
        </div>
        <!-- <div id="firebaseui-auth-container"></div> -->

        <div class="chatbot-container">
          <div class="chatbot-messages-container">
            <div id="main-flavor" class="chatbot-flavor">
              I am Casandalee. Tell me about the town and your character. I will
              spin you a tail about their backstory.
            </div>
            <div id="gm-flavor" class="chatbot-flavor">
              Tell me about your scene and setting. (GM should provide this.)
            </div>
            <textarea id="gm-input" class="chatbot-textarea-input"></textarea>
            <div id="user-flavor" class="chatbot-flavor">
              Tell me about the character that you want to create.
            </div>
            <textarea id="input" class="chatbot-textarea-input"></textarea>
            <button type="submit" class="chatbot-submit-btn">Send</button>
            <div class="chatbot-response"></div>
            <div class="chatbot-content-response"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="static/js/login.js"></script>
  <script src="static/js/backgrounds.js"></script>
</html>
