<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css"
    />
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/chat.css" />
    <link rel="icon" type="image/x-icon" href="/static/img/logoo.png">
    <title>Casandalee</title>
  </head>
  <body>
    <div id="main-vertical">
      <div id="root">
        <div class="chatbot-container">
          <div class="chatbot-messages-container">
            <div id="main-flavor" class="chatbot-flavor">
              I am Casandalee. Tell me about the town and your character. I will
              spin you a tail about their backstory.
            </div>
            <div id="gm-flavor" class="chatbot-flavor-gm">
              <div id="import"> 
                <button id="import-button">Import GM scene</button>
                <input placeholder="Type your message..." />
              </div>
              <p>Tell me about your scene and setting. (GM should provide this.)</p>
              <div id="export">
                <button id="export-button">Export GM scene</button>
                <p id="export-hash"></p>
              </div>
            </div>
            <textarea id="gm-input" class="chatbot-textarea-input"></textarea>
            <div id="user-flavor" class="chatbot-flavor">
              Tell me about the character that you want to create.
            </div>
            <textarea id="input" class="chatbot-textarea-input"></textarea>
            <button type="submit" class="chatbot-submit-btn">Send</button>
            <div class="chatbot-response"></div>
            <div class="chatbot-content-response"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="module" src="static/js/login.js"></script>
  <script type="module" src="static/js/backgrounds.mjs"></script>
</html>
